# Dependencies
node_modules/

# Testing coverage
coverage/

# Production
dist/

# Logs (created during tests and runtime)
*-logs/
logs/

# Misc
.DS_Store

# Debug
pnpm-debug.log*

# Typescript
*.tsbuildinfo
*.build.json

# IDE
.cursor/*
